#header {
  position: relative;
  display: block;
  width: 100%;
  background-color: bisque;
  font-size: 3em;
  text-align: center;
}

#movieContainer {
  position: relative;
  display: block;
  background-color: bisque;
  z-index: 0;
}

.movieBox {
  position: relative;
  display: inline-block;
}
h3 {
  text-align: center;
}

body button.backToIndex {
  font-size: 20px;
  position: fixed;
  left: 0;
  top: 5vh;
  margin: 0px;
  padding: 30px;
  border: none;
  border-radius: 50px;
  color: #063852;
  background-color: royalblue;
  transition: background-color 0.7s;
  z-index: 1;
}
