@import "./reset.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.textBox {
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-position: center;
  height: 99vh;
  color: white;
  overflow: auto;
  text-align: center;
  line-height: 50rem;
  font-size: 25vw;
  text-shadow: black 10px 10px 1px;
}

body button.buttonOne {
  font-size: 20px;
  color: #063852;
  position: fixed;
  left: 0px;
  top: 6vh;
  border: 0;
  margin: 0px;
  padding: 2vw;
  border-radius: 50px;
  background-color: #e6df44;
  transition: background-color 0.7s;
}

body button.buttonOne:hover {
  background-color: #e6dfff;
}

body button.buttonTwo {
  font-size: 20px;
  position: fixed;
  left: 0;
  top: 0.4vh;
  margin: 0px;
  padding: 2vw;
  border: 0;
  border-radius: 50px;
  color: #063852;
  background-color: #e6df44;
  transition: background-color 0.7s;
}

body button.buttonTwo:hover {
  background-color: #e6dfff;
}

/* body div.textBox {
  height: 100vh;
  align-content: center;
  overflow: auto;
  z-index: 100;
  display: flexbox;
  font-size: 15vw;
  color: #063852;
  font-family: "Playfair Display", serif;
} */

.username {
  margin: 0;
  padding: 0;
  position: fixed;
  border-color: #f0810f;
  border-width: 1px;
  border-style: solid;
  top: 20px;
  right: 0px;
  font-size: 5em;
  color: #f0810f;
}
