body > div{
    text-align: center;
    box-sizing: content-box;
    font-size: 15em;
}

.textBox{
    overflow: auto;
    

}

.username {
    box-sizing: content-box;
    position: fixed;
    top: 20px;
    right: 0px;
}