body > div{
    text-align: center;
    box-sizing: content-box;
    font-size: 15em;
}

body button.buttonOne{
    position: fixed;
    left: 0px; 
    top: 30px;
    margin: 0px;
    box-sizing: content-box;
    line-height: 2em;

}

div.textBox{
    overflow: auto;
    z-index: 100;
    display: flexbox;
    font-size: 25vw;

}


.username {
    margin: 0;
    padding: 0;
    position: fixed;
    border-color: aquamarine;
    border-width: 1px;
    border-style: solid;
    top: 20px;
    right: 0px;
    font-size: 5em;
    color: aquamarine;
}


body button.buttonTwo{
    position: fixed;
    left: 0;
    top: 70px;
    margin: 0%;
    box-sizing: content-box;
    line-height: 2em;

}