body > div{
    text-align: center;
    box-sizing: content-box;
    font-size: 15em;
}

.textBox{
    overflow: auto;
    

}

.username {
    margin: 0;
    padding: 0;
    position: fixed;
    border-color: aquamarine;
    border-width: 1px;
    border-style: solid;
    top: 20px;
    right: 0px;
    font-size: 5em;
    color: aquamarine;
}

.row {
    position: fixed;
    left: 0;
    top: 30px;
    
}
#forSmall {
    display: none;
}